In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data_set = pd.read_csv('Indian-Accident-Dataset.csv')
data_set

,Type,Region,Male(0-14),Female(0-14),Male(14-18),Female(14-18),Male(18-30),Female(18-30),Male(30-45),Female(30-45),Male(45-60),Female(45-60),Male(60+),Female(60+)
0,State,Andhra Pradesh,299,157,582,105,3268,437,4622,687,3324,662,1422,479
1,State,Arunachal Pradesh,10,6,7,5,148,19,135,16,35,3,5,2
2,State,Assam,103,43,259,84,1234,250,1357,268,601,134,152,39
3,State,Bihar,1113,444,1816,543,3777,1059,2679,922,1668,477,741,166
4,State,Chhattisgarh,738,470,674,321,3876,1067,4006,1005,2814,763,1277,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,City,Vadodara,7,5,8,3,125,16,189,28,191,26,90,19
85,City,Varanasi,0,0,23,6,82,61,82,41,41,17,27,5
86,City,Vasai Virar,24,16,26,3,149,46,269,53,169,32,76,32
87,City,Vijayawada,13,3,16,2,109,10,130,22,135,37,64,24
88,City,Vishakhapatnam,13,6,23,14,215,52,255,64,216,48,75,33

In [ ]:
print(data_set.shape)

(89, 14)

In [ ]:
print(data_set.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           89 non-null     object
 1   Region         89 non-null     object
 2   Male(0-14)     89 non-null     int64
 3   Female(0-14)   89 non-null     int64
 4   Male(14-18)    89 non-null     int64
 5   Female(14-18)  89 non-null     int64
 6   Male(18-30)    89 non-null     int64
 7   Female(18-30)  89 non-null     int64
 8   Male(30-45)    89 non-null     int64
 9   Female(30-45)  89 non-null     int64
 10  Male(45-60)    89 non-null     int64
 11  Female(45-60)  89 non-null     int64
 12  Male(60+)      89 non-null     int64
 13  Female(60+)    89 non-null     int64
dtypes: int64(12), object(2)
memory usage: 9.9+ KB
None